*{
    box-sizing: border-box;
}

body{
    background-color: hsla(0, 0%, 10%, 0.974);
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: monospace;
    position: absolute;
    height: auto;
    width: 95vw;
}
.textBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width:99vw;
    
}

.inputBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:end;

    position: fixed;
    bottom: 20px;
    width: 95vw;
}
#input{
    position: relative;
    outline: none;
    border: none;
    height: auto;
    min-width: 30%;
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 26%);
    color: white;
    font-size: 25px;
    margin :10px;
    resize: none;
    overflow:hidden;
     
}
#submit{
    background-color: #c9d4e9;
    height: 70px;
    min-width: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
    outline: none;
    border: none;
    transition: 0.2s ease;
}
#submit:hover{
    border-radius: 8px;
}

.ToDoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;

    position: absolute;
    height: 79vh;
    width:99vw;
}

.ToDoBox{
    position: relative;
    height: auto;
    width: 60vw;
    margin: 30px;
}

.heading{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    font-family:monospace;
    border-radius: 10px;  
}

.ContainsTasks, .ContainsDoneTasks{
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    min-height: 50px;
    height: auto;
    width: 100%;
}

.myCheckbox{
    min-height: 25px;
    min-width: 25px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: black;
}
.theTask{
    margin-left: 10px;
    height: auto;
    width: 90%;
    overflow: hidden;
    overflow-wrap: break-word;
    hyphens:auto;
    
}

.otherBtns, .containsDueTime, .containsControls, .myTask{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: auto;
}
.myTask{
    height: auto;
    width: 100%;
    margin-bottom: 8px;
}
.containsControls{
    position: relative;
    width: 100%;
    display: none;
}
.otherBtns{
    position: absolute;
    top: 0;
    right: 0;
}

.ContainsTaskAndControls, .BigTaskBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
}

.BigTaskBox{ 
    padding: 10px;
    border-bottom: rgb(234, 132, 132) 3px solid;
}

.donetask{
    display: flex;
    flex-direction: row;
    align-items:flex-start;

    height: auto;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(101, 43, 9, 0.888);
    border-radius: 10px;
    color: rgb(253, 247, 247);
    overflow: hidden;
}

.doneLabel{
    margin-left: 10px;
    height: auto;
    width: 100%;
    overflow: hidden;
    overflow-wrap: anywhere;
    hyphens:auto;
    text-decoration: line-through;
}

.TimeBox{
    display: none;
    height: auto;
    width : 30vw;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border: 3px white solid;
    position: absolute;
    top : 40vh;
    left : 50vw;
    z-index:1;
    translate: -50% -50%;
    border-radius: 10px;
}